.column {
float: left;
width: 25%;
padding: 10px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.title {
  color: blue;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}





span {
  font-size: x-large;
  background-color: lightblue;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  width: 176px;
  text-align: center;
  border-radius: 5px;
}

span:hover {
  background-color: purple;
}


#invisible {
  background-color: white;
  color: white;
  border-color: white;
}
